*{
    margin: 0;
    padding: 0;
}
.container1{
    height: 730px;
    background-color: black;
}
.txt-container{
    padding: 30px;
    text-align: center;
    color: wheat;
    font-size: xx-large;
}
.con2{
    background-color: orange;
    border-radius: 20px;
    height: auto;
    text-align: center;
    align-content: center;
    padding: 20px;
    margin: 20px;
    margin-left: 12%;
    width: 70%;
}
.con3{
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
    width: 100%;
}
h2{
    font-size: xx-large;
}
.footer{
    color: wheat;
    margin-top: 60px;
}
button{
    display: flex;
    margin: auto;
    padding: 10px 32px;
    outline: none;
    background: red;
    color: white;
    border: none;
}
.btn:hover{
    background-color: orange;

}
@media (max-width:600px){
    .con2{
        background-color: orange;
        border-radius: 20px;
        height: auto;
        text-align: center;
        align-content: center;
        padding: 20px;
        margin: 20px;
        margin-left: 10%;
        width: 70%;
    }
    .container1{
        height: auto;
    }

}